.wrapper {
  display: inline-block;
}

.text {
  width: 168px;
  padding: 7px 9px;
  background: var(--background);
  color: var(--foreground);
  box-shadow: inset 0 0 0 1px var(--foreground-faint);
  font-size: var(--lg);
  line-height: 1.5;
  text-transform: none;
  transform: translateX(-50%);
  z-index: 9999;
  pointer-events: none;
}
